# Config file for automatic testing at travis-ci.org
dist: xenial
language: python
env:
  global:
    - COVERALLS_PARALLEL=true
matrix:
  fast_finish: true
  include:
    - name: Check codestyle
      python: 3.8
      env: TOXENV="run-blackcheck,run-isortcheck"
    - name: Docs
      python: 3.8
      env:
        - DOCS="true"
        # Doctr deploy key
        - secure: "BHBQ+GuQejZ7iy74J/ZJSKNsGH4WnjUxYaVeFE16rMyF1herCj11ektUGGsQ1SsteWHpm/9GLI1WSUvkyp/YtpMNr8KOtvwr5ugwuKL9vZJ815jLvhcoLus5gHq04wDQuARZJazGPENq6UlMSysfWW5r17/Q79JHQh5TcxojMDI8wpzpPeu0AHqpDzQc/HCMcSTRojcbG08GaMmTNAp+mzZSNMxht4TK9u4uuq9XPF08hRw1krQ68qFz8a2UHDHT4Mf3xvebeAiG+ApQ8N/p2giDztcE3UNOjT4lqFuyUouW3QIbsYP8tw6Vuvj7Qmbj7mmhKNVbAgfR7N0/+DXyYtV0iK2QLU/xr9h69kEz1UKGjmDThx4La9zRLH8o0Cxn0TEO0RbdSA5GvFXiLwB8p5FBxtpRAJTaDa8j/dk/x18XRH9k5BN4nY3gZOf83gWAEtreorulCaB/tgZDxtPx/EhnKhI542sp9dXCD7sHCNykZTj8yLKF/YEWwOILqzFKpTK2zSnKVe5mWPpNaUg7LoAUJ+6T0KuTxN9jTGeNF2uIyiEqXkXXRvmME11O0WeK9TYJMgHtwkWaTZnn1h9llGV7ZgocM8xWCgI/2GIJsKIIDNlg+/TbPFGLvriA6hoSZ5iai5sU8d43P3HD9V3tmAfG6TjWkngkIUFPOdhsZZQ="
        - BINTRAY_USER=goerz
        - BINTRAY_SUBJECT=goerz
        - BINTRAY_REPO=pypkg_m7rap
        - BINTRAY_PACKAGE=pypkg_m7rap
        # BINTRAY_TOKEN
        - secure: B3AWLcdytYnCP1zTad8wbVB3svMKEpK3a42CU8oYAqerY8gZ3CS1MqlMGo6i7ktRMVO2u/ticNV2jlCA6eB2w5qTVJrqJ1EIa3FI1aZwetz/m+DblSIO2rx8VXTp2c1QhKkKyBtkSdjHbT00n5O0jVZToCOH93noUJ24QKuVgEAtHbPmIPjZ4aHtk6GyrF4v1GzflUWnmz+DULXCMCF1DWnQq3oEl0JXz77buVuXgnrT5TflzSw7jFC9jCdZ/e8wbhYBjC++VD7kz2Q08wR5XRnw4NmCTP5k04lZD+9T5vHpiLAnfHobDzHp3lB/w75zBz8jzApM0WulXJvPknhfw2XTH3wDF45xiHRvXpVBMcE78xAOTHQAmBYdrxm5LHXPkNtoZFMSG2FK4WyUv/ltRJdgOW0t7NLsvz1oba99eabTV62toQdlznairdfYyfUeLb5f3aD6umsBM39mAoHV5dlF7bPja4rhcRI0Hq3Sk+sMzCEec7UHhxqG8X2Ek6ESd0BNlp30hNcg4iChFGK9hYXlYgQExE1kRjk0CahGBJ0ej7bKJ/UROyhx17oa7iPoYONP+8AW5EES78z2hPyqGMIvjS9sG2XNy8WOUqPS4XYF1XzTtPa3M9++PyUnTJZabbqESHasvpQv9O6OC/yV7DU2hpoVvIrkYBzozvz8C6w=
    - name: Python 3.6
      python: 3.6
      env: TOXENV=py36-test
    - name: Python 3.7
      python: 3.7
      env: TOXENV=py37-test
    - name: Python 3.8
      python: 3.8
      env: TOXENV=py38-test

install:
  # any failure stops the build
  - set -e
  - export PATH=/tmp/texlive/bin/x86_64-linux:$PATH
  - travis_wait source .travis/texlive/texlive_install.sh
  - pip install tox
  - pip freeze
  - printenv
cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive
script:
  # any failure stops testing immediately
  - set -e
  - |
    if [[ "${DOCS}" == "true" ]]; then
      source .travis/doctr_build.sh
    else
      tox -e $TOXENV
    fi
  - echo "DONE"
after_success:
  # coveralls is prone to random failures (which would fail the Travis job), so we'll handle those silently
  - if [[ "${TOXENV}" =~ test ]]; then tox -e $(echo "$TOXENV" | sed s/test/runcmd/) -- coveralls -v || echo "Cannot upload to coveralls"; fi
